.search-bar{
    width: 500px;
}
.search-result{
    width: 500px;
    margin-top: 10px;
}
#searchResult:hover{
    background-color: #E0E0E0;
}
input{
    /* border-image: linear-gradient(to right, #8A2BE2, #fbbc05 ); */
    height: 30px;
    background-image:linear-gradient(white, white), linear-gradient(to right, #8A2BE2, #fbbc05);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 3px;
    padding: 2px;
    /* margin: 10px; */
}

@media print {
    form{
        display: none;
    }
}